* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f9f9f9 !important;
}

h1,
h2,
h3,
h4 {
    font-weight: 700 !important;
}

h1 {
    font-size: 26px !important;
}

h2 {
    font-size: 24px !important;
}

h3 {
    font-size: 22px !important;
}

h4 {
    font-size: 18px !important;
}

h4.card-title {
    border-bottom: 1px solid #a9a9a97d;
    padding: 0 0 10px 0;
}

.message {
    background-color: #e6e7e8;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 15px;
    color: #393739;
    border-radius: 13px;
}

input,
select {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin: 0 0 10px;
    outline: none;
    transition: border 0.15s, box-shadow 0.15s;
}

input:active,
input:focus,
select:active,
select:focus {
    box-shadow: 0 0 4px rgba($color: $primary-color, $alpha: 0.7);
    border: 1px solid rgba($color: $primary-color, $alpha: 0.6);
}

small.feedback-invalido {
    color: $error-color;
    font-size: 0.7rem;
}

div.vs__dropdown-toggle {
    background: white;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
}

input[type='radio'] {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 5px 0 0;
}

input[type='radio']:after {
    width: 12px;
    height: 12px;
    border-radius: 22px;
    top: -1px;
    left: 4px;
    position: relative;
    background-color: #eeeeee;
    content: '';
    display: inline-block;
    visibility: visible;
}

input[type='radio']:checked:after {
    background-color: $primary-color;
}

label {
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
}

.opcao div {
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    cursor: pointer;
    height: 100%;
    padding: 10px 35px 10px 45px;
    font-size: 13px;
    font-weight: 600;
    color: $primary-color;
    background: white;
    line-height: 1.5;
    transition: 0.2s ease all;
}

.opcao div:hover {
    color: $secondary-color;
}

.opcao .info {
    height: 15px;
    width: 15px;
    text-align: center;
    padding: 0;
    border-radius: 100%;
    position: absolute;
    top: 12px;
    right: 12px;
    border: 1px solid;
    font-weight: 700;
    font-size: 10px;
}

.opcao.ativo div,
.opcao.ativo div:hover {
    color: white;
    background: $primary-color;
    border: 1px solid $primary-color;
}

.opcao i {
    font-size: 25px;
    margin: 0 10px 0 -35px;
}

.numeroCotacao {
    background: #357988;
    padding: 10px;
    font-size: 21px;
    color: white;
    border-radius: 20px;
    text-align: center;
    margin: 20px 0 0;
}

.nav {
    background: white;
    padding: 15px 0;
    border-bottom: 1px solid gainsboro;
}

@media (min-width: 1024px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: calc(100% - 100px) !important;
    }

    h1:before,
    h2:before,
    h3:before {
        content: '';
        position: absolute;
        margin: 30px 0 0;
        width: 70px;
        border-bottom: 4px solid $primary-color;
    }
}

.coberturasSelecionadas .coberturaS {
    font-size: 11px;
    font-weight: 500;
    padding: 0 15px 15px;
}

.coberturasSelecionadas .coberturaS::after {
    content: 'x';
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid;
    line-height: 1;
    border-radius: 10px;
    color: $primary-color;
    background: #ffffff;
    cursor: pointer;
    padding: 2px 0 0 5px;
    font-size: 11px;
    font-weight: 900;
}

.coberturasSelecionadas .coberturaS div {
    border-bottom: 1px solid #d8d8d8;
    height: 100%;
}

div.consultor {
    background-image: url(/img/consultor.jpg);
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    border: 1px solid #d5d5d5;
    margin: 0 auto 10px;
}

.widget-consultor p {
    font-size: 14px;
    margin: 0 0 5px;
}

.tooltip-inner {
    background-color: #f5f5f5 !important;
    color: $primary-color !important;
    max-width: 400px !important;
    text-align: left !important;
    font-style: italic !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    padding: 0.9rem !important;
    box-shadow: 0 0 10px 5px rgba(47, 47, 47, 0.1) !important;
}

.tooltip.b-tooltip {
    opacity: 1 !important;
}

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^='top'] .arrow::before {
    border-top-color: #f5f5f5 !important;
}